body {
    transition: background-color 0.5s, color 0.5s;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.container {
    text-align: center;
    padding: 20px;
}